<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <h4 class="alert-heading">Access denied.</h4>
            <p class="mb-0">Sorry, you do not have the rights to view this page. <a href="/Home/Index">Click here to return to the home page.</a></p>
        </div>
    </div>
</div>
