@model IdentityServer.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div>
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <div class="col-sm-6">

        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div>
                <input type="submit" value="Register" />
            </div>
        </form>
    </div>
</div>
