.body-container {
  margin-top: 60px;
  padding-bottom: 40px; }

.welcome-page li {
  list-style: none;
  padding: 4px; }

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0; }

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray; 
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold; 
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px; 
}
.grants-page .card label {
  font-weight: bold; 
}

.mapWrapper {
  width: 100%;
  height: 70vh;
}