@model InsideAirbnb.ViewModels.FilterViewModel

<div class="card flex-item">
    <div class="filterForm card-body">
        <div class="form-group">
            <select id="neighbourhood" class="form-select form-control" aria-label="Select neighbourhood">
                <option value="">Amsterdam</option>
                <option disabled>──────────</option>
                @foreach (var n in Model.Neighbourhoods)
                {
                    <option value="@n.Name">@n.Name</option>
                }
            </select>
        </div>

        <div class="form-check">
            <input type="checkbox" id="RoomtypeEntire" class="form-check-input" name="EntireHome">
            <label for="RoomtypeEntire" class="form-check-label">Entire homes/apartments</label><br>
        </div>
        <div class="form-check">
            <input type="checkbox" id="recentBooked" class="form-check-input" name="recentBooked">
            <label for="recentBooked" class="form-check-label">Recently booked</label>
        </div>
        <div class="form-check">
            <input type="checkbox" id="highAvailable" class="form-check-input" name="highAvailable">
            <label for="highAvailable" class="form-check-label">High available</label>
        </div>
        <div class="form-check">
            <input type="checkbox" id="multiListing" class="form-check-input" name="multiListing">
            <label for="multiListing" class="form-check-label">Multi listing</label>
        </div>

        <label for="priceRange" class="form-label">
            Price Range
            <output name="priceRangeOutput" id="priceRangeOutput">0</output>
        </label>
        <input type="range" class="form-range" min="0" max="8000" value="0" id="priceRange" oninput="priceRangeOutput.value = priceRange.value">

        <label for="reviewRange" class="form-label">
            Number of Reviews
            <output name="reviewRangeOutput" id="reviewRangeOutput">0</output>
        </label>
        <input type="range" class="form-range" min="0" max="900" value="0" id="reviewRange" oninput="reviewRangeOutput.value = reviewRange.value">

        <button class="btn btn-primary" onclick="updateRender()">Filter</button>
    </div>
</div>
