@using InsideAirbnb.ViewModels
@model InsideAirbnb.ViewModels.ActivityStats

<div class="card flex-item activityStats">
    <div class="card-body">
        <h3 class="card-title">Activity stats</h3>
        @* <partial name="Chart" model="reviewChart"/> *@
        @{ await Html.RenderPartialAsync("Partials/StatPartials/Chart", ChartType.ActivityChart); }
        <div class="dimensionMetricsContainer">
            <div class="EstimatedNightsPerYear">
                @Model.EstimatedNightsPerYear
            </div>
            <div>
                estimated nights/year
            </div>
            <div class="ReviewsPerMonth">
                @Model.ReviewsPerMonth 
            </div>
            <div>
                reviews/listing/month
            </div>
            <div class="TotalReviews">
                @Model.TotalReviews
            </div>
            <div>
                reviews
            </div>
            <div class="AveragePricePerNight">
                @Model.AveragePricePerNight
            </div>
            <div>
                price/night
            </div>
            <div class="EstimatedOccupancy">
                @Model.EstimatedOccupancy
            </div>
            <div>
                estimated occupancy
            </div>
            <div class="EstimatedIncomePerMonth">
                @Model.EstimatedIncomePerMonth
            </div>
            <div>
                estimated income/month
            </div>
        </div>
    </div>
</div>