@using InsideAirbnb.ViewModels
@model InsideAirbnb.ViewModels.AvailabilityStats

<div class="card flex-item availabilityStats">
    <div class="card-body">
        <h3 class="card-title">Availabilitystats</h3>
        @{ await Html.RenderPartialAsync("Partials/StatPartials/Chart", ChartType.AvailabilityCategoryChart); }
        @{ await Html.RenderPartialAsync("Partials/StatPartials/Chart", ChartType.Availability365Chart); }
        <div class="dimensionMetricsContainer">
            <div class="HighAvailabilityListingsPercentage">
                @Model.HighAvailabilityListingsPercentage
            </div>
            <div>
                high availability
            </div>
            <div class="HighAvailabilityListings">
                @Model.HighAvailabilityListings 
            </div>
            <div>
                listings w high availability
            </div>
            <div class="LowAvailabilityListings">
                @Model.LowAvailabilityListings
            </div>
            <div>
                listings w low availabilitys
            </div>
            <div class="AverageAvailabilityDays">
                @Model.AverageAvailabilityDays
            </div>
            <div>
                days/year
            </div>
        </div>
    </div>
</div>