@using InsideAirbnb.ViewModels
@model InsideAirbnb.ViewModels.ListingStats

<div class="card flex-item listingStats">
    <div class="card-body">
        <h3 class="card-title">Listing stats</h3>
        @{ await Html.RenderPartialAsync("Partials/StatPartials/Chart", ChartType.ListingsChart); }
        <div class="dimensionMetricsContainer">
            <div class="MultiListingsPercentage">
                @Model.MultiListingsPercentage
            </div>
            <div>
                multi-listings
            </div>
            <div class="SingleListings">
                @Model.SingleListings 
            </div>
            <div>
                single listings
            </div>
            <div class="MultiListings">
                @Model.MultiListings
            </div>
            <div>
                multi-listings
            </div>
        </div>
    </div>
</div>