@using InsideAirbnb.ViewModels
@model InsideAirbnb.ViewModels.RoomStats

<div class="card flex-item roomStats">
    <div class="card-body">
        <h3 class="card-title">Room stats</h3>
        @{ await Html.RenderPartialAsync("Partials/StatPartials/Chart", ChartType.RoomChart); }
        <div class="dimensionMetricsContainer">
            <div class="EntireHomePercentage">
                @Model.EntireHomePercentage
            </div>
            <div>
                entire homes/apartments
            </div>
            <div class="AveragePrice">
                @Model.AveragePrice  
            </div>
            <div>
                price/night
            </div>
            <div class="TotalEntireHomes">
                @Model.TotalEntireHomes
            </div>
            <div>
                entire home/apartments
            </div>
            <div class="TotalPrivateRooms">
                @Model.TotalPrivateRooms
            </div>
            <div>
                private rooms
            </div>
            <div class="TotalSharedRooms">
                @Model.TotalSharedRooms
            </div>
            <div>
                shared rooms
            </div>
        </div>
    </div>
</div>