﻿@model InsideAirbnb.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link type="text/css" rel="stylesheet" href='~/lib/mapbox-gl.css' />
    @if (Model.StatsViewModel.ChartsData != null)
    {
        <link type="text/css" rel="stylesheet" href="~/lib/Chart.min.css">
    }
}

@{ await Html.RenderPartialAsync("Partials/Map");}
<aside class="sideBar container">
    @{ await Html.RenderPartialAsync("Partials/Filter", Model.FilterViewModel);}
    @{ await Html.RenderPartialAsync("Partials/Stats", Model.StatsViewModel);}
</aside>

@section Scripts
{
    <script type="text/javascript" src="~/lib/Chart.min.js"></script>
    <script type="text/javascript" src='~/lib/mapbox-gl.js'></script>
    <script type="text/javascript" src='~/js/home.js'></script>
    <script>
        initialRender();
    </script>
}